.mapContainer {
display: grid;
grid-template-areas:
"title title title title title"
"map map map map drinkerTable"
"drinkTable drinkTable drinkTable drinkTable drinkTable";
}

.mainTitle {
  grid-area: title;
}

.map {
  border: solid 3px black;
  grid-area: map;
  height: 100%;
}

.drinkerTableData {
  width: 10%;
  grid-area: drinkerTable;
  /* display: flex;
  flex-direction: row; */
}

.regionDataTable {
  grid-area: drinkTable;
  width: 100%;
}