.outerContainerWithButton {
  display: flex;
  justify-content: center;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  float: none;
  margin: 10px;
}

.addFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px, 50px, 50px, 50px;
}

.submitButton {
  margin-bottom: 15px;
}

.addDrinkTitle {
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
}

.questionLabel {
  display: flex;
  font-size: 13px;
  margin: 20px 0px 0px 20px;
  align-items: center;
  justify-content: center;
}

.questionInputTopRow {
  margin: 20px 20px 0px 0px;
  padding: 20px 10px;
  line-height: 20em;
}

.questionInputSecondRow {
  margin: 20px 0px 0px 0px;
}

.questionInputCheckboxes {
  display: flex;
  margin: 0px 0px 0px 100px;
}

.mixerCheck {
  margin: 20px;
}

.collabCheck {
margin: 20px;
}

.questionInputThirdRow {
  margin: 20px 0px 0px 0px;
}

.questionInputBottomRow {
  margin: 20px 0px 0px 0px;
}

.hiddenAddDrinkForm {
  display: none;
}

.formGroupQuestion {
  display: flex;
  flex-direction: row;
  font-size: 12;
  height: 60px;
}

.collabBreweryCheckbox {
  padding-bottom: 15px;
}

.shownAddDrinkForm {
  display: block;
  border: 3px solid green;
  background-color: #f1f1f1;

}

.mixerQuestion {
  border-width: 10px;
  border-color: green;
  background-color: greenyellow;
}

.collabQuestion {
  border-width: 10px;
  border-color: green;
  background-color: greenyellow;
}
