.addFormContainer {
  position: relative;
  padding: 0px, 50px, 50px, 50px;
}

.addButton {
  margin-left: 30px;
  position: absolute;
}

.submitButton{
  margin-bottom: 15px;
}

.hiddenAddDrinkForm {
  display: none;
}

.formGroupQuestion {
  display: flex;
  flex-direction: row;
  font-size: 14;
}

.collabBreweryCheckbox {
  padding-bottom: 15px;
}

.shownAddDrinkForm {
  display: block;
  border: 3px solid green;
  background-color: #f1f1f1;
  margin-bottom: 30px;
}

.mixerQuestion {
  border-width: 10px;
  border-color: green;
  background-color: greenyellow;
}
