.mainTitle {
  text-align: center;
}

.mainTableBody {
  font-size: 12px;
  border: 1px solid #000;
  text-align: center;
}

.mainTableHeader {
  font-size: 14px;
}

.mainTableData {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.mainTableDataLeftmost {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.mainTableDataRightmost {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}