.fullPage {

}

.underTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title {
  text-align: center;
}

.searchAndTable {

}

.wordSearchInput {
  /* display: block; */
  position: relative;
}

.drinksTable {
  position: relative;
  width: 20%;
  flex: 1
}

.chart {

}

.selectedWordData {
  float: top;
  width: 50em;
  height: 35em;
}

.clickedWordDrinksTable {

}

.showPieChart {
  width: 50em;
  height: 35em;
  display: block;
}

.hidePieChart {
  display: none;
}

.showBarChart {
  width: 50em;
  height: 35em;
  display: block;
}

.hideBarChart {
  display: none;
}