.container {
  /* border: 5px solid orange; */
}

.title {
  text-align: center;
}

.wordSearchInput {
  display: block;
  position: relative;
}

.drinksTable {
  position: relative;
  display: inline-block;
  width: 40%;
}

.selectedWordData {
  display: inline-block;
  position: fixed;
  width: 50em;
  height: 35em;
}

.showPieChart {
  width: 50em;
  height: 35em;
  display: block;
}

.hidePieChart {
  display: none;
}

.showBarChart {
  width: 50em;
  height: 35em;
  display: block;
}

.hideBarChart {
  display: none;
}