.nav-container {
  width: 100%;
  max-width: 100%;
}

.navbar-start {
  background-color: chocolate;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  font-weight: bold;
  color: black;
}