.selectedCountryDiv {
  background-color: rgb(43, 255, 43, 0.3) ;
}

.selectRegionText {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drinkerRegionName {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
}

.drinkerTableRowHeader {
  border: solid 3px black;
}

.drinkerRegionName {

}

.drinkDataNameText{
  font-weight: bold;
  font-size: 1em;
}

.drinkDataNumberText {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.drinkDataAvgScoreText {
  font-weight: bold;
  font-size: 1em;
}