@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.theBoardContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("../../BoardFolder/theboardbackground.jpg");
  background-size: 100% 100%;
}

.theBoardTableDiv {
  position: relative;
  width: 80vw;
  height: 73vh;
  top: 13vh;
  left: 10vw;
  border: green 1px solid;
  overflow-y: scroll;
}

.theBoardMainHeader {
  font-size: 30px;
  top: 0;
  z-index: 1;
  background-color: lightgreen;
}

.theBoardTh {
  text-align: center;
}

.theBoardMainHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.theBoardTable tr {
  text-align: center;
  font-family: "Patrick Hand";
  font-size: 20px;
}

.addDrinkButton {
  position: absolute;
}

.mainTableButton {
  float: right;
}

.noDrinksOnBoardTd {
  font-size: 30px;
}