@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asset&family=Monofett&display=swap');

.noSessionScreen {
  width: 100vw;
  height: 100vh;
  background-image: url("../../MyUtilitiesFolder/BackgroundImages/noSession.jpg");
  background-size: 100% 100%;
}

.noSessionContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.noSessionMessage {
  width: 40vw;
  height: 65vh;
  font-size: 3em;
  color: black;
  font-family: 'Asset', cursive;
  background-color: rgba(236, 236, 242, 0.3);
}

.allBoardsContainer {
  display: flex;
  flex-direction: column;
}

.fixedBoardBackground {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.soloPaperBoardContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("../../MyUtilitiesFolder/BackgroundImages/theboardbackground.jpg");
  background-size: 100% 100%;
}

.theBoardTableDiv {
  position: relative;
  width: 80vw;
  height: 73vh;
  top: 13vh;
  left: 10vw;
  border: green 1px solid;
  overflow-y: scroll;
}

.theBoardTableDiv table tr:nth-child(even) {
  background-color: rgba(176, 247, 255, 0.3);
}

.theBoardTableDiv table tr:nth-child(odd) {
  background-color: rgba(253, 255, 132, 0.3);
}

.theBoardMainHeader {
  font-size: 18px;
  background-color: lightgreen;
}

.theBoardHeadersRow {
  background-color: rgba(15, 194, 30, 0.3) !important;
}

.theBoardTh {
  text-align: center;
}

.theBoardMainHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.theBoardTable tr {
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
}

/* .stillToRate {
  background-color: rgb(128, 128, 128, 0.3);
} */

@keyframes flickerAnimation {
  0%   { background-color:white; }
  50%  { background-color:yellow; }
  100% { background-color:white; }
}
@-o-keyframes flickerAnimation{
  0%   { background-color:white; }
  50%  { background-color:yellow; }
  100% { background-color:white; }
}
@-moz-keyframes flickerAnimation{
  0%   { background-color:white; }
  50%  { background-color:yellow; }
  100% { background-color:white; }
}
@-webkit-keyframes flickerAnimation{
  0%   { background-color:white; }
  50%  { background-color:yellow; }
  100% { background-color:white; }
}

.toBeAnnounced {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
   animation: flickerAnimation 2s infinite;
}

.confirmed {
  background-color: rgba(24, 228, 1, 0.3);
}

.theBoardTable td {
  font-size: 14px;
}

.addDrinkButton {
  position: absolute;
}

.mainTableButton {
  float: right;
}

.soundboardButton {
  background-image: url("../../MyUtilitiesFolder/Images/speaker.jpg");
  background-size: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  width: 5vw;
  height: 5vw;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.databaseSubmit {
  position: absolute;
  left: auto;
  bottom: 0;
}

.thousanthDrink {
  font-size: 40px;
}

.thousanthDrink:before {
  content: "🎉 🎉 🎆🎆!!"
}

.thousanthDrink:after {
  content: "!!🎆🎆 🎉 🎉 "
}