.breweryScrollComponent {
  width: 70%;
  height: 80%
}

.titleDiv {
  position: relative;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background-color: green;
}

.title {
  font-weight: bold;
}