.breweryPageLoadingDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollAndCheckboxes {
  display: flex;
  flex-direction: row;
}

.insideContainerTable {
  display: flex;
  flex-direction: row;
}

.dropdownCardDiv {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 5px;
}

.dataEditChckboxes {
  display: inline-block;
  width: 300px;
  height: fit-content;
  padding: 5px;
  margin: 5px;
  border: solid 1px green;
}