.titleDiv {
  position: relative;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background-color: green;
}

.title {
  font-weight: bold;
}

.breweryPageLoadingDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: inline-flex;
  margin-left: 5px;
}

.scrollAndCheckboxes {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.insideContainerTable {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.brewTableFiltersAndAdditional {
  display: flex;
  flex-direction: column-reverse;
}

.dataEditChckboxes {
  display: inline-block;
  height: fit-content;
  min-width: 400px;
  font-size: 14px;
  padding: 5px;
  margin: 0px 5px 5px 5px;
  border: solid 1px green;
}

.filterLabelOne {
  max-height: 50px;
}