Table tbody td {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.topHeader {
  background-color: lightgreen;
  z-index: 1;
  top: 0;
  position: sticky;
  text-align: center;
}

.subHeaders {
  z-index: 1;
  top: 1;
}

.mainTable {
  height: 400px;
  min-width: 45vw;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid green;
  max-width: 50vw;
}

.breweryTableRow :hover {
  background-color: greenyellow;
}

.expandedRowDiv {
  text-align: left;
}

.noCollabDrinksDiv {
  display: inline-block;
}

.additionalColumnChckbx {
  width: fit-content;
}