.drinkerTableTitle {
  text-align: center;
}

.tRDrinkerHeader {
  border: 1px black solid;
}

.tRDrinkerHeader :hover {
  cursor: pointer;
  text-decoration: underline;
}

.tHDrinkerHeader{
  font-size: 14px;
  text-align: center;
}

.tableRowDrinkersTable {
  font-weight: bold;
  border: 1px black solid;
}

.tableDataDrinkersTable {
  text-align: center;
}

.includeDrinkersSpan {
  font-weight: bold;
  font-style: italic;
}

.irregularDrinkersCheckbox{
  transform: scale(1.5);
}
