.drinkersContainer {

}

.selectedDrinkerHeader {
  display: flex;
  justify-content: center;
}

.chartsAndTable {
  display: flex;
  flex-flow: row nowrap;
}

.drinkersPageTitle {
  display: flex;
  justify-content: center;
}

.drinkerSelect {
  display: block;
}