.totalContainer {
  height: 100vh;
  width: 100vh;
}

.titleAndInput {
  margin-top: 0;
}

.usMapAndBothTables {
  display: block;
}

.usMapAndDrinkersTable {
  display: flex;
  flex-direction: row;
}

.usMap {
  height: 420px;
  border: solid 3px rgb(77, 71, 71);
  width: 50vw;
}

.drinkerDataTable {
  border: solid 3px green;
  height: 420px;
  overflow: hidden;
  overflow-y: scroll;
  width: 50vw;
}

.regionDataTable {
  border: solid 3px blue;
}