.drinkersTableDiv {
  position: relative;
  height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
  border: green solid 2px;
}

.drinkerTableTitleSpanChckbx {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: greenyellow;
}

.drinkerTableTitle {
  text-align: center;
}

.tRDrinkerHeader {
  background-color: lightgreen;
  position: sticky;
  z-index: 1;
  top: 0;
}

.tRDrinkerHeader :hover {
  cursor: pointer;
  text-decoration: underline;
}

.tHDrinkerHeader{
  font-size: 14px;
  text-align: center;
  position: sticky;
  z-index: 1;
  top: 1;
}

.tableRowDrinkersTable {
  font-weight: bold;
  cursor: pointer;
}

.tableRowDrinkersTable:hover {
  background-color: lightsalmon;
}

.tableDataDrinkersTable {
  text-align: center;
}

.includeDrinkersSpanAndChckbx {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.includeDrinkersSpan {
  font-weight: bold;
  font-style: italic;
  margin-right: 5px;
}

.irregularDrinkersCheckbox{
  transform: scale(1.5);
}
