.drinkersContainer {
  height: 100%;
  width: 100%;
}

.drinkersPageTitle {
  position: relative;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background-color: green;
  margin-bottom: 0px;
}

.allDrinkersPlayArea {
  display: flex;
  flex-flow: row nowrap;
}

.allDrinkersBarChart {
  text-align: center;
  width: 30em;
  height: 40em;
}

.drinkersTable {
  padding: 0px 10px 0px 10px;
}

.selectedDrinkerPlayArea {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "backButton . selectedDrinkerName FaveMixersTable FaveCompanyTable"
  ". wordFrequencyPieChart profilePic barChart barChart"
  "topRatingWords DoubleRatingWordsTable highestScore AvgScore lowestScore";
}

.backToAllDrinkersButton {
  grid-area: backButton;
  height: 50px;
  width: 150px;
}

.drinkerProfilePicDiv {
  grid-area: profilePic;
  justify-self: center;
  align-self: center;
  border: solid 1px green;
}

.selectedDrinkerName {
  grid-area: selectedDrinkerName;
}

.selectedDrinkerName h1 {
  grid-area: selectedDrinkerName;
  text-align: center;
  font-weight: bold;
}

.drinkerProfileImage {
  justify-content: center;
  height: 200px;
  width: 200px;
}

.selectDrinkerBarChart {
  grid-area: barChart;
  text-align: center;
  width: 30em;
  height: 10em;
}

.topRatingWords {
  margin: 5px;
  grid-area: topRatingWords;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  border: black 1px solid;
}