.drinkersPageTitle {
  position: relative;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background-color: green;
}

.selectedDrinkerHeader {
  display: flex;
  justify-content: center;
}

.chartsAndTable {
  display: flex;
  flex-flow: row nowrap;
}

.drinkerSelect {
  display: block;
}