.drinkersPageTitle {
  position: relative;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background-color: green;
  margin-bottom: 0px;
}

.chartsAndTable {
  display: flex;
  flex-flow: row nowrap;
}

.drinkersBarChart {
  text-align: center;
  width: 30em;
  height: 40em;
}

.drinkerSelectTitle {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.drinkersTable {
  padding: 0px 10px 0px 10px;
}