

.selectRegionText {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drinkerRegionName {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
}

.resetButtonHeader {
  text-align: right;
}

.resetButtonParagraph {
  cursor: pointer;
  margin-bottom: 0px;
}

.resetButtonParagraph:hover {
  text-decoration: underline;
}

.usMapDrinkerTHead {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: lawngreen;
}

.usMapDrinkerTableHeaderRow {
  position: sticky;
  z-index: 1;
  top: 0;
}

.drinkerTableRowHeader {
  border: solid 3px black;
  text-align: center;
}

.drinkerUSTableTh:hover {
  cursor: pointer;
  text-decoration: underline;
}

.drinkDataNumberNum {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
}

.drinkerUSTableDataText {
  font-weight: bold;
  font-size: 0.9em;
  text-align: left;
}
